<%= application_module %>::Application.boot :persistence, namespace: true, from: :snowflakes do
  configure do |config|
    config.database_url = container[:settings].database_url
    config.global_extensions = [:postgres]
    config.connection_extensions = %i[error_sql pg_array pg_json pg_enum]
    config.auto_registration_root = container.root.join("lib/<%= application_path %>/persistence").realpath.to_s
    config.auto_registration_namespace = "<%= application_module %>::Persistence"
  end
end
