require "snowflakes/web"
require "rack"

Snowflakes::Web.routes do |application|
  use Rack::Lint

  use Rack::Static,
    urls: ["/assets"],
    root: "public"

  use Rack::Session::Cookie,
    key: "<%= application_path %>.session",
    secret: application[:settings].session_secret,
    expire_after: 10 * 365 * 24 * 60 * 60 # 10 years
end
