require "<%= application_path %>/web/action"

module <%= application_module %>
  module <%= slice_module %>
    module Web
      class Action < <%= application_module %>::Action
      end
    end
  end
end
