# Web app
LOG_TO_STDOUT=false
SESSION_SECRET=_____replace_me_with_a_real_secret_____

# Assets
ASSETS_PRECOMPILED=false
ASSETS_SERVER_URL=http://localhost:8080

# Persistence
DATABASE_URL=postgres://localhost/<%= application_path %>_development
